VITE_SP_HOST=portal.army.idf
VITE_SP_SITE_CODE=alphateam

VITE_SP_SITE_DB_FOLDER=siteMongoDB
VITE_SP_USERS_DB_FOLDER=/sites/alphateam/siteMongoUsersDB

VITE_STORAGE_BACKEND=mongo
VITE_SITE_ID=alphateam-mongo-pilot
VITE_BACKEND_API_URL=https://sitebuilderhub.idf/builder-api
